/*
selectores{estilos}
------------
etiqueta{}
.clase{}
#id{    
}*/

.body {
    background:#efeeee;
    width:700;
    padding:0;
    margin:auto;

    /* limkitar el tamaño */
    width: 400px;
    /*centrado de contenido automatico */
    margin: auto;
}

.cabecera {
    /* border: 2px solid blue; */
    display: flex;
    gap: 5px;
    /* justify-content: space-between; */
}

a {
    /* border: 1px solid red; */
    color: #595858;
    text-decoration: none;
    padding: 0.5rem;
}

a:hover {
    color: rgb(17, 143, 143);
    background: #afaeae;
}

.Cuerpo {
    border: 1px solid blue;
}

#perfil {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

img {
    /* border: 1px solid green; */
    width: 90px;
    height: 90px;
    background: blue;
    border-radius: 50%;
    margin-right: 10px;
}

 span {
    border: 2px solid green;
    /* padding:  10px; */
    padding: 7px 15px;
    /* padding; 5px 15px 40px 100px */

    border-radius: 1.5rem;
    background: #adecad;
    color: green;
    margin-left: 15px;
}

#span {
    color: #ffd000;
}

.Cuerpo {
    margin-top: 70px;
}

button {
    padding: 5px;
    border-radius: 1rem;
    border-color: rgb(198, 196, 196);
}

button:hover {
    background: black;
    color: wheat;
}