/*
selectores{estilos}
------------
etiqueta{}
.clase{}
#id{    
}*/

body {
    background: #efeeee;
    padding: 0;
    margin: 0;
}


.cabecera {
    /* border: 2px solid blue; */
    display: flex;
    gap: 5px;
    /* justify-content: space-between; */

}

a{
    /* border: 1px solid red; */
    color: #595858;
    text-decoration: none;
    padding: 0.5rem;
}

a:hover{
    color: rgb(17, 143, 143);
    background: #afaeae;
}